In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Encoding Data.csv')

In [4]:
df.head()

   id bin_1 bin_2  nom_0 ord_2
0   0     F     N    Red   Hot
1   1     F     Y   Blue  Warm
2   2     F     N   Blue  Cold
3   3     F     N  Green  Warm
4   4     T     N    Red  Cold

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   bin_1   10 non-null     object
 2   bin_2   10 non-null     object
 3   nom_0   10 non-null     object
 4   ord_2   10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [6]:
df.describe()

             id
count  10.00000
mean    4.50000
std     3.02765
min     0.00000
25%     2.25000
50%     4.50000
75%     6.75000
max     9.00000

In [7]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc = enc.fit_transform (df[['ord_2']]).toarray()
ord_2 = pd.DataFrame(enc)
df = pd.concat([df,ord_2], axis=1)
df = df.drop (['ord_2'], axis=1)
df.head()

   id bin_1 bin_2  nom_0    0    1    2
0   0     F     N    Red  0.0  1.0  0.0
1   1     F     Y   Blue  0.0  0.0  1.0
2   2     F     N   Blue  1.0  0.0  0.0
3   3     F     N  Green  0.0  0.0  1.0
4   4     T     N    Red  1.0  0.0  0.0