In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv ('/content/drive/MyDrive/Encoding Data.csv')

In [3]:
df.head()

   id bin_1 bin_2  nom_0 ord_2
0   0     F     N    Red   Hot
1   1     F     Y   Blue  Warm
2   2     F     N   Blue  Cold
3   3     F     N  Green  Warm
4   4     T     N    Red  Cold

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   bin_1   10 non-null     object
 2   bin_2   10 non-null     object
 3   nom_0   10 non-null     object
 4   ord_2   10 non-null     object
dtypes: int64(1), object(4)
memory usage: 528.0+ bytes

In [5]:
df.describe()

             id
count  10.00000
mean    4.50000
std     3.02765
min     0.00000
25%     2.25000
50%     4.50000
75%     6.75000
max     9.00000

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['ord_2'] = le.fit_transform (df['ord_2'])

In [9]:
df

   id bin_1 bin_2  nom_0  ord_2
0   0     F     N    Red      1
1   1     F     Y   Blue      2
2   2     F     N   Blue      0
3   3     F     N  Green      2
4   4     T     N    Red      0
5   5     T     N  Green      1
6   6     F     N    Red      0
7   7     T     N    Red      0
8   8     F     N   Blue      2
9   9     F     Y    Red      1

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['nom_0'] = le.fit_transform (df['nom_0'])

In [11]:
df

   id bin_1 bin_2  nom_0  ord_2
0   0     F     N      2      1
1   1     F     Y      0      2
2   2     F     N      0      0
3   3     F     N      1      2
4   4     T     N      2      0
5   5     T     N      1      1
6   6     F     N      2      0
7   7     T     N      2      0
8   8     F     N      0      2
9   9     F     Y      2      1